/*
Colors used:
Background Color (White): #FAFAFA;
Primary Color (Dark Grey): #1C1C1C;
Secondary Color (Light Grey): #8C8C8C;
*/

* {
  box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #1C1C1C;
}


h1 {
    font-size: 2.0em;
    line-height: 1.4em;
    font-weight: 500;
    font-style: bold;
}

img {
    width: 100%;
  }

  a {
    color: #1C1C1C;
    text-decoration: none; 
  }

  a:hover,
  a:focus {
    color: #8C8C8C;
    text-decoration: underline; 
  }

  a:visited { 
    color: #B7B7B7;
  }
  a:active { 
    color: #3A54A2;
  }

  .button {
    background-color: #1C1C1C;
    color: #ffffff; 
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8;
    text-decoration: none;
  }

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #8C8C8C; }

header {
  background-color: #FAFAFA;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
}

#hero {
  background-color: #FAFAFA;
  padding: 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: left;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav > ul > li {
  list-style-type: none;
  padding: 15px;
  display: inline-block;
}

main {
  padding-top: 133px;
}

.social a {
  display: inline-block;
  width: 30px;
  margin: 0 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #hero h1 {
    display: block;
    margin-left: 50px;
    font-size: 30px;
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  [class*="col-"] {
    float: left;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-lg-8 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


